<!--
This overrides https://github.com/simonw/datasette/blob/main/datasette/templates/index.html
https://github.com/simonw/museums/blob/main/templates/index.html
-->

{% extends "default:index.html" %}

{% block content %}
<h1>{{ metadata.title or "Datasette" }}{% if private %} 🔒{% endif %}</h1>
<h2>Posts</h2>

<ul>
    {% for row in sql("select * from posts") %}
    <li>
        <a href="/site/posts/{{ row.id }}">{{ row.title }} </a>
    </li>
    {% endfor %}
</ul>

<!-- Separation line from usual datasette page -->
<br />​<hr />​​​​​​​​​​​​​​​​​​​<br />

{{ super() }}

{% endblock %}